# Ignore Terraform state files
*.tfstate
*.tfstate.*
*.tfvars

# Ignore crash logs
crash.log
crash.*.log

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform working dir
.terraform/
.terraform.lock.hcl

# Ignore IDE/editor files
*.swp
*.idea/
.vscode/
